*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* Navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(100, 100, 100, 0.5);
    position: sticky;
    top: 0;
    flex-wrap: wrap;
    z-index: 1;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
    flex-wrap: wrap;
}
.navbar ul li{
    font-family: Cinzil;
    font-size: 1.1rem;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
}
.navbar ul li a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 0 0 10px white;
}
/* @media all and (max-width:720px){
    .navbar ul li{
        font-size: 30px;
    } */

/* } */


/*Home Section*/
#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100vh;
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url(/images/pictures\ of\ the\ fore.jpg) no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: center;
    top: 30%;
    right: 10%; */
    flex-wrap: wrap;
    object-fit: cover;
}
.headings{
    font-family: 'Londrina Outline', sans-serif;
    font-size: 10.5rem;
    text-align: center;
    margin: 40px 0px;
    margin-top: 35px;
    flex-wrap: wrap;
}
.stuff{
    font-family: 'Londrina Outline', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 25px;
    font-weight: bold;
    flex-wrap: wrap;
}
.btn{
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    outline: none;
    transition: .6s ease;
    margin-bottom: 200px;
}
.btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
}
/* ABOUT */
#about{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}
.ab{
    font-family: 'Londrina Outline', sans-serif;
    font-size: 8rem;
    text-align: left;
    margin: 40px 0px;
    margin-left: 70px;
    margin-top: 55px;
    color: white;
    display: flex;
    flex-direction: column;
}
#about{
    background: url(/images/a\ van\ driving\ in\ a\ f.jpg) no-repeat center center/cover;
    height: 100%;
    background-size: cover;
    padding-bottom: 5rem;
}
#intro{
    display: flex;
    color: white;
    flex-direction: column;
    text-align: left;
    margin: 35px;
    padding: 10px;
    font-family: 'Cinzl', serif;
    font-size: 18px;
    font-weight: bold;
}
/* Skills */
.card-img-top{
    height: 240px;
}
.head{
    font-family: 'Londrina Outline', sans-serif;
    font-size: 150px;
    align-items: center;
    justify-content: center;
}


@media all and (max-width:300px){
    .card{
        height: 300px;
        width: 200px;
    }
    .intro{
        font-size: 10px;
    }
}
@media all and (max-width:720px){
    #Skills{
        height: 1600px;
    }
}
